/* Navbar */
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
    font-weight: 500;
    color: #0C145A;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: white;
}

.navbar-light .navbar-nav .nav-link{
    color: #FFFFFF;
}

.navbar-light .btn-sign-in{
    color: #0C145A;
    background-color: #E7EAF5;
    padding: 0.75rem 1.875rem;
}
/*  */

/* Header */
.header .header-title{
    font-size: 2.625rem;
    line-height: 1.5;
}

.header .btn-get{
    background-color: #4D17E2;
    padding: 0.75rem 3rem;
}

.header .btn-learn:hover{
    color: #0C145A;
}

.header .card{
    border-radius: 1rem;
    box-shadow: -8px 8px 58px 0px rgba(0, 0, 0, 0.1);
}

.header .left-card{
    width: 207px;
    height: 112px;
    top: 6.68rem;
    left: -3.625rem;
    padding: 0.875rem; 
}

.header .right-card{
    width: 135px;
    height: 177px;
    bottom: 6.5rem;
    right: -3.2rem;
    padding: 1.25rem 1.5rem;
}

.header .right-card-support{
    padding: 0.063rem 0.625rem;
    background-color: #00BAFF;
    width: max-content;
    border-radius: 0.375rem;
    bottom: -0.5rem;
    left: auto;
    right: auto;
}
/*  */

/* Footer */
footer{
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #F9FAFF;
}

footer ul{
    margin-bottom: 0;
}

footer ul li a{
    transition: 0.2s;
}

footer ul li a:hover{
    color: #4D17E2;
    text-decoration: underline !important;
    background-color: transparent;
}

.mobile-header-img-green {
    display: none;
}

.tab-width {
    width: 200px;
}

.logo-app-store {
    width: 200px;
}

.footer-logo-apo-store {
    width: 40vh;
    margin: 0 auto;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

 @media (max-width:768px) {
    .mobile-text-center {
        text-align: center;
    }

    .mobile-d-none {
        display: none !important;
    }

    .mobile-header-img-green {
        display: block;
    }

    .mobile-m-auto {
        margin: 0 auto;
    }

    .tab-width {
        width: 13vh;
    }

    .logo-app-store {
        width: 20vh;
    }

    .footer-logo-apo-store {
        width: 40%;
        margin: 0 auto;
    }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
/* Header */

/*  */
}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    /* Navbar */
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.25rem;
        padding-left: 1.25rem;
    }
    /*  */

    /* Header */
.header .underline-blue {
    text-decoration: none;
    position: relative;
}

.header .underline-blue:after {
    position: absolute;
    content: '';
    height: 8px;
    bottom: 11px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 100%;
    background: #00BAFF;
    z-index: -10;
}
 }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    /* border: 1px solid #ddd; */
}

th, td {
    text-align: left;
    padding: 8px;
}

.td-title {
    text-transform: uppercase;
    text-decoration: underline;
}

.minus {
    color: #eb3d66;
    font-weight: bold;
}

.plus {
    color: #31bf91;
    font-weight: bold;
}

.bg-dark-500 {
    background-color: #1a1a1a;
}

.bg-blue {
    background-color: #105DF3;
}

.bg-dark-400 {
    background-color: #0B1C3D;
}

.lh-2x {
    line-height: 2rem;
}

ul {
    list-style-type: none;
}

li {
    display:inline;
    padding: 10px;
}

.n-blue {
    border: 1px solid #055DF3;
    border-radius: 10px;
    overflow: hidden;
    font-weight: 400;
}

.nav-border {
    border-right: 1px solid #055DF3;
    border-left: 1px solid #055DF3;
}

.nav-item-custom {
    padding: 0 !important;
    text-align: center;
}

.nav-item-custom .nav-link:hover {
    background-color: #055DF3;
    color: #FFFFFF;
    border: 1px solid #055DF3;
    overflow: hidden;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.nav-item-custom .nav-link.active {
    background-color: #055DF3;
    color: #FFFFFF;
    border: 1px solid #055DF3;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.vertical-inline-btn {
    border-left: 1px solid #c6d6ed;
    margin-right: 0.8rem;
    opacity: 0.5;
}

.nav-tabs .nav-link {
    border: none;
}